.container {
  margin-top: 0;
}

form {
  padding: 1rem;
}

mat-form-field {
  display: block;
  width: min(100%, 500px);
  margin-bottom: 1rem;
}

mat-form-field.w-sm {
  width: min(100%, 200px);
}

mat-form-field.w-md {
  width: min(100%, 300px);
}

.container {
  width: 100%;

  form,
  h2 {
    margin: 1rem 2rem;
  }

  form {
    button {
      width: min(100%, 200px);
    }
  }

}

// .two-column {
//   display: flex;

// }
