.wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: 1rem auto;
  width: min(1200px, 90%);
}

.scroll {
  width: 100%;
  overflow-y: auto;
}
